{% extends 'layout.html' %}
{% block title %}Agregar detalles de orden{% endblock %}
{% block contents %}
<h1>Agregar detalles de orden</h1>
<br>
{% if user %}
<p>Hello, {{user.username}}</p>
<br>
<a href="{{ url_for('auth.logout') }}">Logout</a>
{% endif %}
<p>Por favor agregue el detalle de orden aquí:</p>
<br>
<form action="{{ url_for('orderDetails.createByOrderId', orderId=orderId) }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.orderId.label }}
    {{ form.orderId }}
    {{ form.description.label }}
    {{ form.description }}
    {{ form.quantity.label }}
    {{ form.quantity }}
    {{ form.unitCost.label }}
    {{ form.unitCost }}
    {{ form.submit }}
</form>

{% endblock %}